
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.red{
  color:red
}
.blue{
  color:blue
}

.cond-btn {
  background-color: cornflowerblue;
  color: white;
  border-radius: 7px;
  font-weight: 500;
  font-size: 13px;
  padding: 7px;
  width: 75px;
  text-align: center;
  margin: 15px 0px 15px 0px;
  border: 0px solid;

}

.cond-btn:hover {
  background-color: rgb(49, 101, 199);
  color: rgb(163, 241, 255);
  border-radius: 7px;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 4px 4px 4px rgb(160, 187, 238, 0.7);
  ;
}
.data-col{
  background-color: white;border-radius:7px;padding:5px;margin-top:7px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
